* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

@font-face {
  font-family: "TeleReg";
  src: url("../fonts/Tele2DisplaySerif-Regular-short_W/Tele2DisplaySerif-Regular-short__W.eot");
  src: url("../fonts/Tele2DisplaySerif-Regular-short_W/Tele2DisplaySerif-Regular-short__W.eot?#iefix") format("embedded-opentype"), url("../fonts/Tele2DisplaySerif-Regular-short_W/Tele2DisplaySerif-Regular-short__W.woff") format("woff"), url("../fonts/Tele2DisplaySerif-Regular-short_W/Tele2DisplaySerif-Regular-short__W.ttf") format("truetype"), url("../fonts/Tele2DisplaySerif-Regular-short_W/Tele2DisplaySerif-Regular-short__W.svg#Tele2DisplaySerifWebSHORT-Reg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TeleBold";
  src: url("../fonts/Tele2DisplaySerif-Bold-short_W/Tele2DisplaySerif-Bold-short__W.eot");
  src: url("../fonts/Tele2DisplaySerif-Bold-short_W/Tele2DisplaySerif-Bold-short__W.eot?#iefix") format("embedded-opentype"), url("../fonts/Tele2DisplaySerif-Bold-short_W/Tele2DisplaySerif-Bold-short__W.woff") format("woff"), url("../fonts/Tele2DisplaySerif-Bold-short_W/Tele2DisplaySerif-Bold-short__W.ttf") format("truetype"), url("../fonts/Tele2DisplaySerif-Bold-short_W/Tele2DisplaySerif-Bold-short__W.svg#Tele2DisplaySerifWebSHORT-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TeleTextBold";
  src: url("../fonts/Tele2TextSans-Bold-short_W/Tele2TextSans-Bold-short__W.eot");
  src: url("../fonts/Tele2TextSans-Bold-short_W/Tele2TextSans-Bold-short__W.eot?#iefix") format("embedded-opentype"), url("../fonts/Tele2TextSans-Bold-short_W/Tele2TextSans-Bold-short__W.woff") format("woff"), url("../fonts/Tele2TextSans-Bold-short_W/Tele2TextSans-Bold-short__W.ttf") format("truetype"), url("../fonts/Tele2TextSans-Bold-short_W/Tele2TextSans-Bold-short__W.svg#Tele2TextSansWebSHORT-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Stencil";
  src: url("../fonts/Tele2StandardCTStencil-Bold/standardctstencil_bold-webfont.woff") format("woff"), url("../fonts/Tele2StandardCTStencil-Bold/standardctstencil_bold-webfont.woff2") format("woff2"), url("../fonts/Tele2StandardCTStencil-Bold/StandardCTStencil_Bold.svg#StandardCTStencil-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: "TeleReg";
  font-size: 16px;
  line-height: 22px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  max-width: 100vw;
  overflow: hidden;
}

input[placeholder] {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

input::-moz-placeholder {
  text-overflow: ellipsis;
}

input:-moz-placeholder {
  text-overflow: ellipsis;
}

input:-ms-input-placeholder {
  text-overflow: ellipsis;
}

svg path {
  fill: inherit;
  stroke: inherit;
}

svg rect {
  fill: inherit;
  stroke: inherit;
}

.btn {
  font-family: "TeleTextBold";
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 25px;
  text-align: center;
  padding: 15px 60px;
  color: #ffffff;
}

.title {
  font-family: "TeleBold";
  text-transform: uppercase;
  font-size: 26px;
  line-height: 36px;
}

.text {
  font-size: 18px;
  line-height: 25px;
  color: #1f2229;
}

.popup {
  position: fixed;
  display: block;
  width: 100vw;
  height: 120vh;
  top: 0;
  left: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.85);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__wrapper {
  background: #fff url("../images/system_img/bg-p.png") top right no-repeat;
}

.popup__content {
  padding: 31px 0 48px 0;
}

.popup__head {
  padding: 0 26px 0 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 8px 0;
}

.popup__form {
  padding: 0 80px 0 65px;
  position: relative;
}

.popup__input {
  height: 60px;
  width: 100%;
  margin: 0 0 28px 0;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #3c3c43;
  padding: 0 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__input::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #3c3c43;
  opacity: 0.6;
}

.popup__input:-ms-input-placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #3c3c43;
  opacity: 0.6;
}

.popup__input::-ms-input-placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #3c3c43;
  opacity: 0.6;
}

.popup__input::placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #3c3c43;
  opacity: 0.6;
}

.popup__check {
  margin: 16px 0 0 0;
  font-size: 15px;
  line-height: 21px;
}

.popup__check:before {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  border: 1px solid #1f2229;
  margin-right: 11px;
}

.popup__check-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.popup__check-input:checked + label:before {
  background-color: #1f2229;
}

.popup__btn {
  margin: 40px 0 0 0;
  background-color: #fff;
  color: #1f2229;
  border: 1px solid #1f2229;
}

@media (max-width: 375px) {
  .popup__btn {
    margin: 60px 0 0 0;
  }
}

.popup__alert {
  font-size: 10px;
  line-height: 14px;
  color: #ff6161;
  position: absolute;
  left: 65px;
  top: 57%;
  max-width: 70%;
  display: none;
}

.popup__block-ok {
  padding: 55px 121px 120px 121px;
  display: none;
}

@media (max-width: 375px) {
  .popup__block-ok {
    padding: 55px 60px 120px 60px;
  }
}

.popup__title-ok {
  font-family: "TeleBold";
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #1f2229;
}

.popup__text-ok {
  font-family: "TeleReg";
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #1f2229;
}

.first-block {
  padding: 32px 0 42px 0;
}

.first-block__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 347px;
  margin: 0 auto;
}

.first-block__title {
  color: #1f2229;
}

.first-block__text {
  max-width: 285px;
}

.second-block {
  padding: 53px 0 14px 0;
  background: url("../images/system_img/bg-block-2.svg") left bottom/contain no-repeat;
}

.second-block__wrapper {
  width: 100%;
}

.second-block__title {
  font-size: 32px;
  line-height: 45px;
  max-width: 322px;
  margin: 0 auto 40px auto;
}

.second-block__body {
  padding: 0 16px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.second-block__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.second-block__img img {
  max-width: 100%;
}

.second-block__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.second-block__text span {
  font-weight: bold;
}

.second-block__text-ps {
  color: #fff;
  text-align: right;
  max-width: 318px;
  margin: 15px 28px 0 auto;
}

.second-block__text-ps span {
  font-weight: bold;
}

.third-block {
  padding: 65px 0 33px 0;
}

.third-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.third-block__body {
  padding: 35px 0 0 35px;
}

.third-block__body--r {
  padding: 35px 35px 0 0;
  text-align: right;
}

.third-block__title {
  margin: 0 0 13px 0;
}

.main {
  min-height: 100vh;
  background: url("../images/system_img/bg-main.jpg") center/cover no-repeat;
  padding: 65px 0 80px 0;
}

.main__logo {
  margin: 0 auto 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 262px;
}

.main__logo img {
  max-width: 100%;
}

.main__content {
  background: url("../images/system_img/phone-main.png") center/contain no-repeat;
  padding: 0 25px;
}

.main__circle {
  width: 127px;
  height: 127px;
  border-radius: 50%;
  background: #30c3f2;
  -webkit-box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.25);
  -webkit-transform: rotate(7.09deg) translateY(-15px);
      -ms-transform: rotate(7.09deg) translateY(-15px);
          transform: rotate(7.09deg) translateY(-15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Stencil";
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  margin: 0 0 170px auto;
}

.main__text-block {
  background: #1f2229;
  -webkit-transform: rotate(3.18deg) translateY(20px);
      -ms-transform: rotate(3.18deg) translateY(20px);
          transform: rotate(3.18deg) translateY(20px);
  color: #ffffff;
  padding: 5px 16px 20px 16px;
}

.main__text {
  margin: 5px 0 0 0;
  font-family: "TeleBold";
  font-size: 15px;
  line-height: 21px;
}

.main__btn-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.main__btn-wrapper img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main__btn {
  margin: 100px 0 0 0;
  background-color: #fff;
  color: #1f2229;
  padding: 15px 44px;
  position: relative;
  z-index: 2;
}

.info {
  padding: 10px 0 23px 0;
}

.item-info {
  margin: 43px 0 0 0;
}

.item-info:first-child {
  margin: 0 0 0 0;
}

.item-info__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item-info__title-info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
  padding: 0 0 0 35px;
}

.item-info__title-info--second {
  text-align: right;
  padding: 0 35px 0 0;
}

.item-info__title {
  font-family: "TeleBold";
  font-size: 32px;
  line-height: 45px;
  color: #1f2229;
}

.item-info__subtitle {
  margin: 9px 0 0 0;
  color: #1f2229;
}

.item-info__subtitle span {
  font-family: "TeleBold";
}

.item-info__title-img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.item-info__title-img img {
  width: 100%;
}

.item-info__body {
  padding: 0 35px 0 35px;
  position: relative;
}

.item-info__body--second {
  text-align: right;
}

.item-info__body-title {
  font-family: "TeleBold";
  color: #1f2229;
  margin: 12px 0 0 0;
}

.item-info__body-text {
  color: #1f2229;
  margin: 7px 0 0 0;
  padding: 0 0 0 14px;
  position: relative;
}

.item-info__body-text span {
  font-family: "TeleBold";
}

.item-info__body-text:before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #1f2229;
  position: absolute;
  top: 8px;
  left: 0;
}

.item-info__body-text--second:before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #1f2229;
  position: static;
  margin: 0 7px 0 0;
}

.item-info__block-dop {
  text-align: right;
  background-color: #1f2229;
  padding: 8px 20px;
  display: inline-block;
  -webkit-transform: rotate(8.45deg);
      -ms-transform: rotate(8.45deg);
          transform: rotate(8.45deg);
  position: relative;
  left: 50%;
  bottom: 30px;
}

.item-info__price-dop {
  font-family: "Stencil";
  font-weight: bold;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
}

.item-info__price-dop--strike {
  font-family: "Stencil";
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #ffffff;
  opacity: 0.7;
}

.shares {
  padding: 30px 48px 48px 48px;
  background: #1f2229;
}

@media (max-width: 350px) {
  .shares {
    padding: 23px 25px 48px 25px;
  }
}

.shares__title {
  font-family: "TeleBold";
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  margin: 0 0 25px 0;
}

.shares__btn-wrapper {
  margin: 55px 0 0 0;
}

.item-share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 55px 0 0 0;
}

.item-share--f {
  margin: 0 0 0 0;
}

.item-share__img {
  width: 114px;
  height: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 114px;
          flex: 0 0 114px;
}

.item-share__img img {
  max-width: 100%;
}

.item-share__body {
  padding: 0 0 0 25px;
}

.item-share__title {
  color: #ffffff;
}

.item-share__text {
  font-family: "TeleBold";
  color: #ffffff;
}

.item-share__body--right {
  text-align: right;
  padding: 0 25px 0 0;
}

.list {
  padding: 47px 0 5px 0;
}

.list__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.list__title-block {
  padding: 0 24px 0 10px;
}

.list__title {
  color: #1f2229;
  font-size: 24px;
  line-height: 34px;
}

.list__text {
  margin: 6px 0 0 0;
}

.list__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: right;
}

.list__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 140px;
          flex: 0 0 140px;
}

.list__img img {
  max-width: 100%;
}

.list__btn {
  border: 1px solid #1f2229;
  color: #1f2229;
  margin: 75px 0 0 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.call {
  padding: 65px 0 88px 0;
  background: url("../../images/system_img/bg-q.png") bottom right no-repeat;
}

.call__title-block {
  padding: 0 88px 0 37px;
}

.call__form {
  margin: 23px 0 0 0;
  padding: 0 50px;
}

.call__phone {
  height: 60px;
  width: 100%;
  margin: 0 0 28px 0;
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #3c3c43;
  padding: 0 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.call__phone::-webkit-input-placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #3c3c43;
  opacity: 0.6;
}

.call__phone:-ms-input-placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #3c3c43;
  opacity: 0.6;
}

.call__phone::-ms-input-placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #3c3c43;
  opacity: 0.6;
}

.call__phone::placeholder {
  font-size: 15px;
  line-height: 22px;
  letter-spacing: -0.408px;
  color: #3c3c43;
  opacity: 0.6;
}

.call__btn {
  background: none;
  border: 1px solid #1f2229;
  color: #1f2229;
}

.footer {
  padding: 33px 30px 62px 37px;
  color: #fff;
  background: #1f2229;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.footer__address {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.footer__address-img {
  display: inline-block;
}

.footer__title {
  font-family: "TeleBold";
  font-size: 20px;
  line-height: 28px;
}

.footer__title-address {
  display: inline-block;
}

.footer__subtitle {
  font-family: "TeleBold";
  color: #ffffff !important;
}

.footer__text {
  font-size: 13px;
  line-height: 18px;
  opacity: 0.5;
  margin: 3px 0 0 0;
}

.footer__phone-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 33px 0 10px 0;
}

.footer__phone-img {
  margin: 0 5px 0 0;
}

.footer__phone-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.footer__phone-item:first-child {
  padding: 0 5px 0 0;
}

.footer__phone-item:last-child {
  padding: 0 0 0 5px;
}

.footer__title-share {
  margin: 35px 0 0 0;
}

.footer__links {
  margin: 20px 0 0 0;
}

.footer__social {
  display: inline-block;
  margin: 0 27px 0 0;
}

.footer__line {
  margin: 37px 0 25px 0;
  border: 0.5px solid #ffffff;
}

.footer__ps {
  font-size: 11px;
  line-height: 15px;
  margin: 0 0 29px 0;
}

.footer__ps:last-child {
  margin: 0 0 0 0;
}
