// Файл для описания стилей для общих блоков
.btn {
	font-family: "TeleTextBold";
	font-size: 16px;
	line-height: 18px;
	display: inline-block;

	border: 1px solid #ffffff;
	box-sizing: border-box;
	border-radius: 25px;
	text-align: center;
	padding: 15px 60px;
	color: #ffffff;
}

.title {
	font-family: "TeleBold";
	text-transform: uppercase;
	font-size: 26px;
	line-height: 36px;
}

.text {
	font-size: 18px;
	line-height: 25px;

	color: #1f2229;
}
