.list {
	padding: 47px 0 5px 0;

	&__wrapper {
		display: flex;
		flex-direction: column;
	}

	&__title-block {
		padding: 0 24px 0 10px;
	}

	&__title {
		color: #1f2229;
		font-size: 24px;
		line-height: 34px;
	}

	&__text {
		margin: 6px 0 0 0;
	}

	&__body {
		display: flex;
		text-align: right;
	}

	&__img {
		flex: 0 0 140px;

		img {
			max-width: 100%;
		}
	}

	&__btn {
		border: 1px solid #1f2229;
		color: #1f2229;
		margin: 75px 0 0 0;
		align-self: center;
	}
}
