.shares {
	padding: 30px 48px 48px 48px;
	background: #1f2229;

	@media (max-width: 350px) {
		padding: 23px 25px 48px 25px;
	}

	&__title {
		font-family: "TeleBold";
		font-size: 24px;
		line-height: 34px;
		color: #ffffff;
		margin: 0 0 25px 0;
	}

	&__item {
	}

	&__btn-wrapper {
		margin: 55px 0 0 0;
	}

	&__btn {
	}
}
.item-share {
	display: flex;
	align-items: center;
	margin: 55px 0 0 0;

	&--f {
		margin: 0 0 0 0;
	}
	&__img {
		width: 114px;
		height: 114px;
		display: flex;
		justify-content: center;
		align-items: center;

		flex: 0 0 114px;

		img {
			max-width: 100%;
		}
	}

	&__body {
		padding: 0 0 0 25px;
	}

	&__title {
		color: #ffffff;
	}

	&__text {
		font-family: "TeleBold";
		color: #ffffff;
	}

	&__body--right {
		text-align: right;
		padding: 0 25px 0 0;
	}
}
