// Обнуление
@import "reset";

// Подключение шрифтов
@import "fonts";

// Миксины

// Адаптивный шрифт
// Указать величину шрифта на минимальном экране и на макетном размере

// Общие стили
html {
}

body {
	font-family: "TeleReg";
	font-size: 16px;
	line-height: 22px;

	&._lock {
		overflow: hidden;
	}
}

.wrapper {
	max-width: 100vw;

	overflow: hidden;
}

input[placeholder] {
	text-overflow: ellipsis;
}
input::-moz-placeholder {
	text-overflow: ellipsis;
}
input:-moz-placeholder {
	text-overflow: ellipsis;
}
input:-ms-input-placeholder {
	text-overflow: ellipsis;
}

svg {
	path {
		fill: inherit;
		stroke: inherit;
	}
	rect {
		fill: inherit;
		stroke: inherit;
	}
}

// Подключение общих блоков
@import "blocks";

.popup {
	position: fixed;
	display: block;
	width: 100vw;
	height: 120vh;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: rgba(0, 0, 0, 0.85);
	opacity: 0;
	visibility: hidden;
	transition: 0.4s;

	&.open {
		opacity: 1;
		visibility: visible;
	}
	&__wrapper {
		background: #fff url("../images/system_img/bg-p.png") top right no-repeat;
	}

	&__content {
		padding: 31px 0 48px 0;
	}

	&__head {
		padding: 0 26px 0 36px;
		display: flex;
		justify-content: space-between;
		margin: 0 0 8px 0;
	}

	&__form {
		padding: 0 80px 0 65px;
		position: relative;
	}

	&__input {
		height: 60px;
		width: 100%;
		margin: 0 0 28px 0;
		font-size: 15px;
		line-height: 22px;
		letter-spacing: -0.408px;

		color: #3c3c43;
		padding: 0 16px;
		border-bottom: 1px solid rgba($color: #000, $alpha: 0.2);

		&::placeholder {
			font-size: 15px;
			line-height: 22px;
			letter-spacing: -0.408px;

			color: #3c3c43;

			opacity: 0.6;
		}
	}

	&__check {
		margin: 16px 0 0 0;
		font-size: 15px;
		line-height: 21px;

		&:before {
			content: "";
			display: inline-block;
			width: 11px;
			height: 11px;
			border: 1px solid #1f2229;
			margin-right: 11px;
		}
	}

	&__check-input {
		position: absolute;
		z-index: -1;
		opacity: 0;

		&:checked + label:before {
			background-color: #1f2229;
		}
	}

	&__btn {
		margin: 40px 0 0 0;
		background-color: #fff;
		color: #1f2229;
		border: 1px solid #1f2229;

		@media (max-width: 375px) {
			margin: 60px 0 0 0;
		}
	}

	&__alert {
		font-size: 10px;
		line-height: 14px;
		color: #ff6161;
		position: absolute;
		left: 65px;
		top: 57%;
		max-width: 70%;

		display: none;
	}

	&__block-ok {
		padding: 55px 121px 120px 121px;
		display: none;

		@media (max-width: 375px) {
			padding: 55px 60px 120px 60px;
		}
	}

	&__title-ok {
		font-family: "TeleBold";
		font-size: 18px;
		line-height: 25px;
		text-align: center;

		color: #1f2229;
	}

	&__text-ok {
		font-family: "TeleReg";
		font-size: 18px;
		line-height: 25px;
		text-align: center;

		color: #1f2229;
	}
}

.first-block {
	padding: 32px 0 42px 0;

	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 347px;
		margin: 0 auto;
	}

	&__title {
		color: #1f2229;
	}

	&__text {
		max-width: 285px;
	}
}

.second-block {
	padding: 53px 0 14px 0;
	background: url("../images/system_img/bg-block-2.svg") left bottom / contain no-repeat;

	&__wrapper {
		width: 100%;
	}

	&__title {
		font-size: 32px;
		line-height: 45px;
		max-width: 322px;
		margin: 0 auto 40px auto;
	}

	&__body {
		padding: 0 16px 0 0;
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	&__img {
		flex: 0 1 50%;

		img {
			max-width: 100%;
		}
	}

	&__info {
		flex: 0 1 50%;
	}

	&__text {
		span {
			font-weight: bold;
		}
	}

	&__text-ps {
		color: #fff;
		text-align: right;
		max-width: 318px;
		margin: 15px 28px 0 auto;

		span {
			font-weight: bold;
		}
	}
}

.third-block {
	padding: 65px 0 33px 0;

	&__wrapper {
	}

	&__item {
		display: flex;
	}

	&__body {
		padding: 35px 0 0 35px;

		&--r {
			padding: 35px 35px 0 0;
			text-align: right;
		}
	}

	&__title {
		margin: 0 0 13px 0;
	}

	&__text {
	}

	&__img {
	}
}

@import "main";
@import "info";
@import "share";
@import "list";
@import "call";

// Footer
@import "footer";
