// Обнуление
@import "reset";

// Подключение шрифтов
@import "fonts";

// Миксины

// Адаптивный шрифт
// Указать величину шрифта на минимальном экране и на макетном размере

// Общие стили
html {
}

body {
	font-family: "TeleReg";
	font-size: 16px;
	line-height: 22px;
}

.wrapper {
	max-width: 100vw;

	overflow: hidden;
}

input[placeholder] {
	text-overflow: ellipsis;
}
input::-moz-placeholder {
	text-overflow: ellipsis;
}
input:-moz-placeholder {
	text-overflow: ellipsis;
}
input:-ms-input-placeholder {
	text-overflow: ellipsis;
}

svg {
	path {
		fill: inherit;
		stroke: inherit;
	}
	rect {
		fill: inherit;
		stroke: inherit;
	}
}

// Подключение общих блоков
@import "blocks";

@import "main";
@import "info";
@import "share";
@import "list";

// Footer
@import "footer";
